.background {
  flex-direction: column;
  align-items: center;

  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 300px;
}
.tumb {
  width: 310px;
  height: 350px;
  margin: 20px;
}
.tumb1 {
  margin-right: 50px;
}
.tumb2 {
  margin-left: 50px;
}

.text {
  width: 310px;
  margin: 20px;
}
.text h2 {
  font-size: 28px;
  padding: 0px;
  padding-bottom: 15px;
  margin: 0px;
}
.text div {
  font-size: 12px;
}
/* ======================================================================== */

@media only screen and (min-width: 600px) {
  .tumb1 {
    margin-right: 10;
    margin-bottom: 90px;
    min-width: 250px;
  }
  .tumb2 {
    margin-top: 90px;
    margin-left: 10;
  }
}
@media only screen and (min-width: 780px) {
  .background {
    max-width: 1400px;
    align-items: center;
    flex-direction: row;
  }
  .tumb {
    max-width: 290px;
  }
  .text {
    width: 365px;
  }
  .text h2 {
    font-size: 44px;
  }
  .text div {
    font-size: 19px;
  }
}
